@keyframes popOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .custom-button {
    background-color: #FFC107; /* Amber-400 */
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    animation: popOut 1s infinite; /* Added animation property */
  }
  

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This will center the button vertically as well */
  }